<div class="container mt-5">
  <div class="row col-md-12">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Sr.No</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr
        *ngFor = "let std of stdArr; let i = index">
            <td>{{i+1}}</td>
            <td>{{std.fname}}</td>
            <td>{{std.lname}}</td>
            <td>{{std.age}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
